body {
  background-color: cadetblue;
}
.box {
  background-color: aqua;
  margin-bottom: 15px;
}
.box1 {
  background-color: skyblue;
  width: 100%;
  padding: 30px;
  vertical-align: top;
}
.list {
  color: darkgreen;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.box2 {
  width: 600px;
  float: inline-start;
  padding-left: 0;
  margin-left: 140px;
  vertical-align: top;
}
.box3 {
  background-color: brown;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.box3 p {
  color: white;
}
.container {
  display: flex;
}
.container ul li {
  float: left;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  border: 3px solid brown;
  border-radius: 5px;
  color: white;
  background-color: brown;
  padding: 8px;
}
.picture {
  align-items: right;
  margin-left: 647px;
  height: 80px;
  width: 100px;
}
.image-world {
  align-items: center;
  height: 440px;
  width: 850px;
  margin-left: 2px;
}
.box1-about {
  width: 100%;
  height: 680;
}
.fhatuwani-image {
  border: 3px solid green;
}
.main-heading {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: darkgreen;
}
.skills-list li {
  color: brown;
}
p {
  color: brown;
}
.cup-image {
  width: 100%;
  height: 380;
}
label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
